version: "3"
services:
  web:
    build: client/
    ports:
      - "3000:3000"
      - "35729:35729"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./client:/app
      - api-deps:/app/node_modules
volumes:
  ? api-deps
